<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Available IITs and Branches</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #1a5276; /* Darker bluish background */
            color: #ffffff;
        }
        .card {
            background-color: #aed6f1;
            margin-bottom: 10px;
            border: none;
            color:black;

        }
        .card-header {
            cursor: pointer;
        }
        .card-body {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.card-header').click(function() {
                $(this).next('.card-body').slideToggle();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4 text-center">All Available IITs and Branches</h1>

        {% for college in colleges %}
        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
                {{ college.institute }}
            </div>
            <div id="collapse{{ forloop.counter }}" class="card-body collapse">
                <ul>
                    {% for branch in college.branches %}
                    <li>{{ branch.program }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
